* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 30px;
}

#app {
  margin: 3rem auto;
  max-width: 40rem;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.screenshot{
  color: red;
  border: 1px solid red;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 0.8rem;
}

.goal{
  font-size: 33px;
  color: #8b005d;

}

label, input {
  margin-bottom: 0.5rem;
  display: block;
  width: 100%;
}

label {
  font-weight: bold;
}

ul {
  list-style: none;
  margin: 1rem 0;
  padding: 0;
}

li {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid #8bff87;
  border-radius: 6px;
  background: #dcfff0;

}

input{
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button{
  padding: 0.5rem 1.5rem;
  border: 1px solid #8b005d;
  color: white;
  background: #8b005d;
  cursor: pointer;
  transition: all 0.3s ease-out;
  border-radius: 5px;
}

button:hover{
  background: #ac0e77;
  border-color: #ac0e77;
}